<div class="container">

        <!-- Abaixo ocorre o Event Binding do submit ao método cadastrar.
             O $event é um objeto do Angular que encapsula o evento que esta sendo disparado.

             Importante: Event Binding com () flui da view para o model, com [] flui do model para a view. 
             Apesar de possuírem um fluxo diferente, ambas são unidirecionais. -->
             
        <form class="row" (submit)="cadastrar($event)">

            <!--

                "Mas como nosso template saberá que deve chamar o método cadastrar do nosso componente a partir do evento submit? Como o template está associado ao componente, ele procurará na classe CadastroComponent, ou seja, o componente é o seu contexto."

            -->

            <div class="col-md-6">
                <div class="form-group">
                    <label>Título</label>
                    <!--
                    
                    <input (input)="foto.titulo = $event.target.value"
                           [value]="foto.titulo" 
                           class="form-control" 
                           autocomplete="off">

                        Acima, ocorre o data binding de eventos (event data binding), unidirecional também, mas que flui da view para os dados. Ele é caracterizado por parênteses que envolvem o nome do evento que desejamos executar.

                    -->

                    <input
                        [(ngModel)]="foto.titulo" 
                        name="titulo"
                        class="form-control"  
                        autocomplete="off">
                </div>

                    <!-- 
                        Nestes campos, usaremos algo semelhante ao "two-way data binding", com a diretiva [(ngModel)]. Ela envia os dados da view para o model, e do model para a view, num fluxo bi-direcional. Mas para utilizar o ngModel é preciso definir o atributo name do campo ou utilizar a diretiva [ngModelOptions]="{standalone: true}". É necessário também importar o módulo 'FormsModule' em AppModule.
                    -->

                <div class="form-group">
                    <label>URL</label>
                    <input
                        [(ngModel)]="foto.url"
                        name="url"
                        class="form-control"  
                        autocomplete="off">
                </div>

                <div class="form-group">
                    <label>Descrição</label>
                    <textarea
                        [(ngModel)]="foto.descricao"
                        name="descricao"
                        class="form-control"  
                        autocomplete="off">
                    </textarea>
                </div>
    
                <button type="submit" class="btn btn-primary">
                    Salvar
                </button>

                 <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
                <hr>
            </div>
        </form>
    </div>