<div class="container">

        <!--  Validação de formulário orientada a template:  -->
        
        <!-- Todo o form é atribuído à variável local #meuForm, por meio do ngForm -->
        <form #meuForm="ngForm" class="row" (submit)="cadastrar($event)">

            <div class="col-md-6">
                <div class="form-group">
                    <label>Título</label>                    
                    <input
                        required
                        #titulo="ngModel"
                        [(ngModel)]="foto.titulo" 
                        name="titulo"
                        class="form-control"  
                        autocomplete="off">
                    <span *ngIf="titulo.invalid" class="form-control alert-danger">
                        Título obrigatório.
                    </span>
                </div>

                <!-- 
                    Nos campos titulo e url foram criadas variáveis locais e atribuídas o valor de ngModel em cada um destes campos. Analisando o valor destas variáveis, podemos utilizar o condicional *ngIf, que exibe o conteúdo em que foi adicionado, caso a instrução seja verdadeira, nesse caso, o campo inválido.
                -->

                <div class="form-group">
                    <label>URL</label>
                    <input
                        required
                        #url="ngModel"
                        [(ngModel)]="foto.url"
                        name="url"
                        class="form-control"  
                        autocomplete="off">
                    <span *ngIf="url.invalid" class="form-control alert-danger">
                            URL obrigatória.
                        </span>
                </div>

                <div class="form-group">
                    <label>Descrição</label>
                    <textarea
                        [(ngModel)]="foto.descricao"
                        name="descricao"
                        class="form-control"  
                        autocomplete="off">
                    </textarea>
                </div>
    
                <button type="submit" 
                        class="btn btn-primary" 
                        [disabled]="meuForm.form.invalid">
                    Salvar
                </button>
                <!-- Acima, utilizando uma diretiva no atributo disabled, utilizamos a propriedade form em #meuForm para verificar se este está valido ou não. Se não estiver, o botão é desabilitado. --> 

                 <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
                <hr>
            </div>
        </form>
    </div>