<!-- Passamos todo o conteúdo inicial de AppComponent para ListagemComponent -->
<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>
  
<div class="container">

    <!-- *ngIf verifica se o tamanho de 'mensagem' é maior que 0, e o exibe se sim. -->
    <div *ngIf="mensagem.length" class="alert alert-info" role="alert">{{mensagem}}
    </div>          

    <div class="row">
            <div class="col-md-12">
                <form>
                     <div class="input-group">
                        <span class="input-group-btn">

                            <a [routerLink]="['/cadastro']" class="btn btn-primary">
                                Nova foto
                            </a>
                        </span>
                        
                        <!-- Campo para filtrar pelo título -->
                        <input #textoProcurado (keyup)="0" class="form-control" placeholder="Filtrar pelo título da foto">

                        
                    </div> 
                </form>
            </div> <!-- fim col-md-12 -->
        </div> <!-- fim row -->
        <br>

    <div class="row">
        
        <!-- O component Painel recebe o component Foto como conteúdo e,
             agora, o ngFor realiza a repetição sobre o Painel -->
    
       <painel *ngFor="let foto of fotos | filtroPorTitulo:textoProcurado.value" titulo="{{foto.titulo | uppercase }}"
                class="col-md-2 col-lg-2 col-sm-2 col-xs-4">
            <a [routerLink]="['/cadastro', foto._id]" >
                <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
            </a>

            <!-- O button chama o método remove com o parâmetro 'foto' (variável do ngFor), ao disparar o evento 'click'. -->
            <button class="btn btn-danger btn-block" 
                    (click)="remove(foto)">Remover</button>
       </painel>
    </div>

</div>